name: Deploy to GCP Cloud Run
on:
  workflow_dispatch:
env:
  PROJECT_ID: summary-bot-server
  IMAGE_NAME: bot-server
  REGION: asia-northeast1
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to GCR
        uses: google-github-actions/github-actions/setup-gcloud@v0
        with:
          project_id: ${{ env.PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - name: Build and push Docker image
        run: |
          ./build-and-push.sh
        env:
          PROJECT_ID: ${{ env.PROJECT_ID }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
      - name: Deploy to Cloud Run
        uses: google-github-actions/github-actions/deploy-cloudrun@main
        with:
          service: ${{ env.IMAGE_NAME }}
          image: gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          region: ${{ env.REGION }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}