name: Deploy to GCP Cloud Run
on:
  workflow_dispatch:
env:
  PROJECT_ID: summary-bot-server
  IMAGE_NAME: bot-server
  IMAGE_TAG: latest
  REGION: asia-northeast1
  REGISTRY_LOCATION: asia-northeast1
  ARTIFACT_REGISTRY: asia-northeast1-docker.pkg.dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to GCR
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ env.PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - name: Build and tag the Docker image
        run: |
          docker build -t ${{env.ARTIFACT_REGISTRY}}/${{env.PROJECT_ID}}/${{env.REPOSITORY_NAME}}:${{env.IMAGE_TAG}} .

      - name: Push the Docker image to Artifact Registry
        run: |
          docker push ${{env.ARTIFACT_REGISTRY}}/${{env.PROJECT_ID}}/${{env.REPOSITORY_NAME}}:${{env.IMAGE_TAG}}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.1.0
      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init
      - name: Terraform Apply
        working-directory: ./terraform
        id: apply
        run: |
          terraform plan -out=tfplan
          terraform apply -auto-approve tfplan